# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://agcwokngfaeqlhdhjbjy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnY3dva25nZmFlcWxoZGhqYmp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzMTI5NTksImV4cCI6MjA3ODg4ODk1OX0.M1r9NCVQ2w7JMQEiubwf87iLuDjNLQzpatPZs8PyjXQ

# API Configuration
EXPO_PUBLIC_API_URL=http://localhost:8000
EXPO_PUBLIC_API_VERSION=v1

